<div id="app">
 	<ol>
 		<li v-for="review in reviews">{{review}}</li>

 	</ol>
 	<h2>Add new review</h2>
 	<input type="" v-model="newReview">
 	<button v-on:click="addReview">Add Review</button>
</div>