<div id="app">
	<h2>Number of people: {{people.length}}</h2>

	<br>
		<input type="text" v-model="nameFilter">
	<br>
	Filtering by name: {{nameFilter}}
	<br>
	 <transition-group name="fade">
		<div v-for="person in people" v-if="isValidPerson(person)" v-bind:key="person.id">
			<h3 v-on:click="showBio(person)">{{person.name}}</h3>
			<p v-if="person.bioVisible">{{person.bio}}</p>
			<button v-on:click="deletePerson(person)">Delete</button>
		</div>
	</transition-group>

</div>
<!-- 
	<p v-for="person in people" v-on:click="showBio(person)">{{person.name}}</p>
	<p v-for="person in people" v-if="person.bioVisible">{{person.bio}}</p>
 -->
<div>
	<h3> Add a New Peep</h3>

	<ul>
		<li v-for="error in errors">{{error}}</li>

	</ul>

	Name: <input type="text" v-model="newName">
	<br>
	Bio: <input type="text" v-model="newBio">
	<br>
	<button v-on:click="addPerson()">Add Person</button>
</div>