
<div class="box" onclick="changeColor('yellow')">MORNING</div>
<div class="box" onclick="changeColor('orange')">AFTERNOON</div>
<div class="box" onclick="changeColor('black')">EVENING</div>


<h2><div class="box" onclick="timeOfDay()">Time Of Day</div><h2>
