 The Numbers Game: There should be 10 boxes in the screen, each containing one of the numbers 1 through 10. To win, you must click on all 10 boxes in order. Use the existing ‘numbers’ route.

<div class="box" onclick="allTen(1)">Box 1</div>
<div class="box" onclick="allTen(2)">Box 2</div>
<div class="box" onclick="allTen(3)">Box 3</div>
<div class="box" onclick="allTen(4)">Box 4</div>
<div class="box" onclick="allTen(5)">Box 5</div>
<div class="box" onclick="allTen(6)">Box 6</div>
<div class="box" onclick="allTen(7)">Box 7</div>
<div class="box" onclick="allTen(8)">Box 8</div>
<div class="box" onclick="allTen(9)">Box 9</div>
<div class="box" onclick="allTen(10)">Box 10</div>



