<div class="box" onclick="countSum(1)">1</div>
<div class="box" onclick="countSum(2)">2</div>
<div class="box" onclick="countSum(3)">3</div>
<div class="box" onclick="countSum(4)">4</div>
<div class="box" onclick="countSum(5)">5</div>
<div class="box" onclick="countSum(6)">6</div>
<div class="box" onclick="countSum(7)">7</div>
<div class="box" onclick="countSum(8)">8</div>
<div class="box" onclick="countSum(9)">9</div>
<div class="box" onclick="countSum(10)">10</div>


<h2>Sum:
	<div id="sum">

	</div>
</h2>

<div class="box" onclick="resetTotal()">Reset</div>