<h1> Guessing Game </h1>

<%= form_tag "/form_result", method: :post do %>
<div>
	Enter your guess here: <input type="text" name="guess">
	</div>
	<input type="submit" value="Submit message">
<%end%>
