<h1>Form for new contact</h1>

<%= form_tag "/contacts", method: :post do %>
	<div>
	Contact name <input type="text" name="first_name">
	</div>
	<div>
	Contact middle name <input type="text" name="middle_name">
	</div>
	<div>
	Contact last name: <input type="text" name="last_name">
	</div>
	<div>
	Contact email: <input type="text" name="email">
	</div>
	<div>
	Contact address: <input type="text" name="address">
	</div>
	<div>
	Contact phone: <input type="text" name="phone">
	</div>
	<div>
	<input type="submit" value="Submit message">
	</div>
<%end%>
